.banner-container img {
    width: 100%;
}

.gallery {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

    img {
        width: 300px;
        margin: 10px;
        border-radius: 10px;
    }
}

.tabs-heading {
    display: flex;
    justify-content: center;
    margin-bottom: 18px;
    overflow-x: auto;
}

span {
    margin: 10px;
    font-weight: 500;
    cursor: pointer;
    white-space: nowrap;
}

.active-tab {
    background-color: var(--ts-primary-color);
    color: var(--ts-accent-color1);
    padding: 10px 20px;
    border-radius: 6px;
    font-weight: 600;
}

@media (max-width: 767px) {
    .tabs-heading {
        justify-content: flex-start;
    }

    .gallery img {
        width: 100%;
        margin: 10px 0;
    }
}