h2 {
    font-weight: 700;
    background-image: linear-gradient(to right, #1f579f, #f0312d 80%);
    color: transparent;
    background-clip: text;
    font-size: 42px;
    text-transform: uppercase;
}

.accordion-header {
    font-size: 28px;
}

.accordion-button {
    font-size: 19px;
}