<div class="buy-container py-5">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-xl-5 col-lg-5 col-sm-12 col-md-6">
                <div class="content">
                    <h4 class="text-center mb-4">LOCATION SEARCH</h4>
                    <form class="form-container" [formGroup]="buyForm">
                        <div class="form-content">
                            <select formControlName="state">
                                <option value="" disabled selected>Select State</option>
                                <option *ngFor="let dist of distributorsData | mapToUnique:'state'"
                                    [value]="dist.state.trim()">
                                    {{ dist.state }}
                                </option>
                            </select>
                        </div>
                        <div class="form-content">
                            <select formControlName="district">
                                <option value="" disabled selected>Select District</option>
                                <option *ngFor="let district of filteredDistricts" [value]="district">{{ district }}
                                </option>
                            </select>
                        </div>
                        <div class="form-content">
                            <select formControlName="taluk">
                                <option value="" disabled selected>Select Taluk</option>
                                <option *ngFor="let taluk of filteredTaluks" [value]="taluk">{{ taluk }}</option>
                            </select>
                        </div>
                        <div class="form-content">
                            <input
                            type="text"
                            formControlName="pincode"
                            maxlength="6"
                            (keyup)="onPincodeChange()"
                            placeholder="Enter the Pincode"
                          />
                        </div>
                    </form>
                </div>
            </div>
            <div class="col-xl-5 col-lg-5 col-sm-12 col-md-6">
                <div class="content">
                    <h4 class="text-center mb-4">DEALER INFORMATION</h4>
                    <table *ngIf="filteredDistributors.length > 0" id="dealer-info-table">
                        <thead>
                            <tr>
                                <th style="font-weight:bold;">Distributor Name / Dealer Name</th>
                                <th style="font-weight:bold;">Phone</th>
                                <th style="font-weight:bold;">Email</th>
                                <th style="font-weight:bold;">Pincode</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let dist of filteredDistributors">
                                <td>{{ dist.name }}</td>
                                <td>{{ dist.phone }}</td>
                                <td>{{ dist.email }}</td>
                                <td>{{ dist.pincode }}</td>
                            </tr>
                        </tbody>
                    </table>

                    <!-- Message if no match -->
                    <div *ngIf="filteredDistributors.length === 0 && buyForm.get('taluk')?.value && buyForm.get('pincode')?.value?.length === 6"
                        class="text-center mt-3">
                        <p>No distributors found for this pincode.</p>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>