.line {
    width: 100%;
}

.content {
    background-color: var(--ts-primary-color);
    color: var(--ts-accent-color1);
    text-align: center;
    padding: 20px 10px;
    border-radius: 20px;
}

h2 {
    font-weight: 900;
    background-image: linear-gradient(to right, #1f579f, #f0312d 80%);
    color: transparent;
    background-clip: text;
    font-size: 40px;
    text-transform: uppercase;
}

h4 {
    font-weight: 700;
    font-size: 20px;
    min-height: 90px;
}

button {
    color: var(--ts-accent-color1);
    font-weight: 600;
    padding: 7px 20px;
    border-radius: 30px;
    background-color: var(--ts-primary-color);
    border: 1px solid var(--ts-accent-color1);
}

button:hover {
    background-color: var(--ts-accent-color1);
    color: var(--ts-primary-color);
}

@media (max-width: 767px) {

    .line-container {
        display: none;
    }

    .dealer-container {
        padding-top: 40px;
    }
}