<div class="form-container pt-4 pb-5">
    <div class="container">
        <div class="row justify-content-center">
            <h2 class="text-center"><strong>GOT A QUESTION?</strong></h2>
            <div class="col-xl-9 col-lg-11 col-sm-12 col-md-10 pt-4">
                <form method="POST" [formGroup]="contactForm" (ngSubmit)="onSubmit()">
                    <div class="form-content">
                        <div>
                            <div class="form-input">
                                <img class="icons" src="assets/icons/user-solid.svg" alt="user">
                                <input type="text" name="name" formControlName="name" placeholder="Full Name"
                                    [class.invalid]="contactForm.get('name')?.invalid && contactForm.get('name')?.touched">
                            </div>
                            <small *ngIf="contactForm.get('name')?.invalid && contactForm.get('name')?.touched">
                                Name is required
                            </small>
                        </div>
                        <div>
                            <div class="form-input">
                                <img class="icons" src="assets/icons/phone-solid.svg" alt="call">
                                <input type="tel" name="phone" formControlName="phone" placeholder="Phone Number" minlength="10" maxlength="12"
                                    [class.invalid]="contactForm.get('phone')?.invalid && contactForm.get('phone')?.touched">

                            </div>
                            <small *ngIf="contactForm.get('phone')?.invalid && contactForm.get('phone')?.touched">
                                Phone Number is required (10 digits)
                            </small>
                        </div>
                        <div>
                            <div class="form-input">
                                <img class="icons" src="assets/icons/envelope-solid.svg" alt="email">
                                <input type="email" name="email" formControlName="email" placeholder="Email Address"
                                    [class.invalid]="contactForm.get('email')?.invalid && contactForm.get('email')?.touched">
                            </div>
                            <small *ngIf="contactForm.get('email')?.invalid && contactForm.get('email')?.touched">
                                Enter valid email address
                            </small>
                        </div>
                    </div>
                    <div class="form-content1">
                        <div>
                            <div class="form-input">
                                <img class="icons" src="assets/icons/pen-solid.svg" alt="pen">
                                <textarea name="message" formControlName="message" id="message"
                                    placeholder="Your Message" rows="1"></textarea>
                            </div>
                        </div>
                    </div>
                    <div class="btn-buttons">
                        <button type="submit" class="button">Submit</button>
                    </div>
                </form>
            </div>

        </div>
    </div>
</div>