.form-container {
    background-color: #f7f8f8;
}

h2 {
    letter-spacing: 4px;
}

.form-content {
    display: flex;
    align-items: flex-start;
}

.form-content>div {
    margin: 12px 8px;
    width: 100%;
}

.form-content1>div {
    margin: 12px 8px;
}

.form-input {
    border: 1px solid var(--ts-accent-color2);
    padding: 8px 10px;
    display: flex;
    align-items: center;
    background-color: var(--ts-accent-color1);
}


.icons {
    height: 18px;
}

input {
    border: none;
    outline: none;
    margin-left: 10px;
    color: rgba(35, 34, 45, 0.7);
}

input::placeholder,
textarea::placeholder {
    color: var(--ts-accent-color2);
    font-weight: 600;
}

textarea {
    outline: none;
    resize: none;
    border: none;
    margin-left: 10px;
    width: 95%;
}

.form-content .form-input {
    width: 100%;
}

.btn-buttons {
    display: flex;
    justify-content: center;
    margin-top: 5%;
}

.button {
    border-radius: 4px;
}

small {
    color: red;
    font-size: 12px;
}


@media (max-width: 991px) {
    .form-content {
        display: block;
    }

    .form-content .form-input {
        width: auto;
    }

    textarea {
        width: 85%;
    }
}