.main-container {
    background-color: var(--ts-primary-color);
    color: var(--ts-accent-color1);
    text-align: center;
}

.icon-img {
    height: 40px;
}
p{
    font-size: 13px;
}

a {
    color: var(--ts-accent-color2);
    text-decoration: none;
    font-size: 12px !important;
}

h6{
    font-size: 15px;
}

.content {
    box-shadow: 0 16px 20px 0 rgba(0, 0, 0, 0.15);
    transition: all 0.5s ease-in-out;
    padding: 25px 14px;
    margin: 10px;
}