<div class="banner-container" *ngIf="csrBannerData">
    <img class="img-fluid" [src]="csrBannerData[0]?.imageUrl" alt="csr-img">
</div>

<div class="main-container py-5">
    <div class="container" *ngIf="csrGallery" #galleryContainer>
        <div class="row">
            <div class="tab-heading">
                <p>
                    <span [ngClass]="{'active-tab': selectedId === 'all'}" (click)="onClickTab('all')">
                        ALL
                    </span>
                </p>
                <p *ngFor="let item of csrCategoryData">
                    <span [ngClass]="{'active-tab' : selectedId === item.url}"
                        (click)="onClickTab(item.url)">{{item.title | uppercase}}</span>
                </p>
            </div>
            <div class="col-lg-4 col-xl-4 col-sm-12 col-md-4 my-2 content gallery"
                *ngFor="let img of csrGallery; let i = index">
                <div class="image-wrapper">
                    <img class="img-fluid gallery-thumbnail" [src]="img?.imageUrl" alt="Image {{ i + 1 }}"
                        (click)="openLightbox(i)" />
                    <p class="overlay-text"><strong>{{img.title}}</strong></p>
                </div>
            </div>


        </div>
    </div>

    <div class="lightbox" *ngIf="isLightboxOpen" (click)="closeLightbox()">
        <div class="lightbox-content" (click)="$event.stopPropagation()">
            <img [src]="currentImage" class="lightbox-image" alt="Selected Image" />
            <button class="prev" (click)="prevImage($event)">&#10094;</button>
            <button class="next" (click)="nextImage($event)">&#10095;</button>
            <button class="close" (click)="closeLightbox()">&times;</button>
        </div>
    </div>
</div>