<div class="main-container" *ngIf="csrBannerData">
    <img class="img-fluid" [src]="csrBannerData[0]?.imageUrl" alt="csr-img">
</div>
<div class="csr-container py-5" *ngIf="csrCategoryData">
    <div class="container">
        <div class="row">
            <div class="tab-heading">
                <p>
                    <span [ngClass]="{'active-tab': selectedId === 'all'}" (click)="onClickTab('all')">
                        ALL
                    </span>
                </p>
                <p *ngFor="let item of csrCategoryData">
                    <span [ngClass]="{'active-tab' : selectedId === item.url}"
                        (click)="onClickTab(item.url)">{{item.title | uppercase}}</span>
                </p>
            </div>
            <hr>
            <div class="gallery" *ngIf="csrGallery">
                <div class="row">
                    <div class=" col-xl-4 col-lg-4 main-img-container" *ngFor="let data of csrGallery; let i = index">
                        <a href="#" (click)="openLightbox(i, $event)">
                            <img class="img-fluid main-img" [src]="data.imageUrl" alt="gallery-img">
                            <p class="text-center overlay-text"><strong>{{data.title}}</strong></p>
                        </a>
                    </div>
                </div>

                <div class="modal fade lightbox-modal mt-4" id="lightboxModal" tabindex="-1" aria-hidden="true">
                    <div class="modal-dialog modal-dialog-centered justify-content-center modal-xl">
                        <div class="modal-content">
                            <button type="button" class="btn-close btn-close-white position-absolute"
                                data-bs-dismiss="modal" aria-label="Close"
                                style="top: 10px; right: 10px; z-index: 1051;"></button>
                            <div class="modal-body p-0">
                                <div id="carouselLightbox" class="carousel slide " data-bs-interval="false">
                                    <div class="carousel-inner">
                                        <div *ngFor="let img of csrGallery; let i = index" class="carousel-item"
                                            [ngClass]="{ active: i === activeSlideIndex }">
                                            <img [src]="img.imageUrl" class="d-block pop-img" alt="gallery-img" />
                                        </div>
                                    </div>


                                    <button class="carousel-control-prev" type="button"
                                        data-bs-target="#carouselLightbox" data-bs-slide="prev">
                                        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                                        <span class="visually-hidden">Previous</span>
                                    </button>
                                    <button class="carousel-control-next" type="button"
                                        data-bs-target="#carouselLightbox" data-bs-slide="next">
                                        <span class="carousel-control-next-icon" aria-hidden="true"></span>
                                        <span class="visually-hidden">Next</span>
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>