.banner-container img {
    width: 100%;
}
.tab-heading {
    display: flex;
    justify-content: center;
    margin-bottom: 18px;
    overflow-x: auto;
}

span {
    margin: 10px;
    font-weight: 600;
    cursor: pointer;
    font-size: 14px;
    white-space: nowrap;
}

.gallery {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;

    .main-img {
        height: -webkit-fill-available;
        margin: 10px;
        border-radius: 12px;
    }
}

.main-img-container {
    position: relative;
}

.overlay-text {
    opacity: 0;
    position: absolute;
    bottom: 0;
    text-align: center !important;
    width: 100%;
    color: var(--ts-accent-color1);
    font-size: 17px;
    letter-spacing: .2px;
}

.main-img-container:hover .overlay-text {
    opacity: 1;
}

.pop-img {
    max-height: 70vh;
}

.modal-content {
    justify-content: center;
    background-color: transparent;
    width: auto;
}

.active-tab {
    border-bottom: 2px solid var(--ts-primary-color);
    padding: 8px;
    font-weight: 900;
}

.carousel-control-next,
.carousel-control-prev {
    opacity: 1 !important;
}

@media (max-width: 767px){
    .tab-heading {
        justify-content: flex-start;
    }
}