<div id="popupprice" class="popup" style="display: block;" *ngIf="showPopup"> <!-- Initially hidden -->
    <div class="inpopup">
        <div></div>
        <span (click)="closePopup()" class="close">×</span>
    </div>
    <div class="popup-card" *ngIf="popupData.length > 0">

        <div class="faq-item">
            <div class="question">
                <h5><strong>{{ popupData[currentIndex]?.title | uppercase }}</strong></h5>
            </div>
            <div class="answer">
                <p [innerHtml]="safePrice[currentIndex]"></p>
            </div>
            <a href="{{popupData[currentIndex]?.url}}" class="bt">Checkout Now &rarr;<i
                    class="fas fa-arrow-right-long"></i></a>
        </div>
    </div>
</div>