h3{
    color: var(--ts-primary-color);
    font-weight: 600;
}

button{
    border: none;
    background-color: var(--ts-primary-color);
    color: var(--ts-accent-color1);
    border-radius: 6px;
    font-size: 17px;
    padding: 10px 30px;
}
.banner-container img {
    width: 100%;
}