.card {
    border: none !important;
  }

  .popup {
    position: fixed;
    top: 25%;
    border-radius: 10px;
    right: 52px;
    background-color: #f9f9f9;
    border: 1px solid #000;
    padding: 10px;
    z-index: 9999;
    transition: opacity 0.3s ease-in-out;
  }

  .popup::after {
    background: inherit;
    border-radius: 6px;
    display: block;
    content: "";
    height: 90px;
    position: absolute;
    right: -85px;
    top: -2px;
    transform-origin: top left;
    transform: rotate(46deg);
    width: 90px;
    z-index: -5;
    border-top: 1px solid #000;
    border-right: 1px solid #000;
  }

  .popup.show {
    opacity: 1;
  }

  .popup p {
    margin: 0;
  }

  .popup .close {
    color: #aaa;
    font-size: 40px;
    font-weight: bold;
    cursor: pointer;
  }
