<section>
    <div class="navheader">
        <a (click)="sidenavService.closeResponsive()">
            <img src="assets/images/logo.jpg" class="logo" alt="logo">
        </a>
        <a (click)="sidenavService.closeResponsive()">
            <img src="assets/icons/cross.svg" class="cross">
        </a>
    </div>
    <header>
        <nav>
            <ul>
                <!-- About Us Dropdown -->
                <li class="menu-item">
                    <div class="flexes" (click)="toggleAboutUsDropdown()">
                        <a routerLink="./aboutus">
                            About Us
                        </a>
                        <img [class.rotate]="isAboutUsOpen" class="chevron-img ms-4" src="assets/icons/down-arrow.svg"
                            alt="">
                    </div>
                    <ul *ngIf="isAboutUsOpen" class="dropdown">
                        <li *ngFor="let data of aboutData">
                            <a [routerLink]="['/about', data?.url || '']" (click)="sidenavService.closeResponsive()">{{
                                data?.title || 'Unnamed' }}</a>
                            <p class="mb-0"> {{ data?.description }}</p>
                        </li>
                    </ul>
                </li>

                <!-- Mining Dropdown -->
                <li class="menu-item">
                    <div class="flexes" (click)="toggleWhyTurboDropdown()">
                        <a>
                            Why Turbosteel
                        </a>
                        <img [class.rotate]="iswhyTurboSteelOpen" class="chevron-img ms-4"
                            src="assets/icons/down-arrow.svg" alt="">
                    </div>
                    <ul *ngIf="iswhyTurboSteelOpen" class="dropdown">
                        <li *ngFor="let data of turbosteelData">
                            <a [routerLink]="['/why-turbosteel', data?.url || '']"
                                (click)="sidenavService.closeResponsive()">{{
                                data?.title || 'Unnamed' }}
                                <p class="mb-0"> {{ data?.description }}</p>
                            </a>
                        </li>
                    </ul>
                </li>


                <li class="menu-item">
                    <div class="flexes" (click)="toggleProductsDropdown()">
                        <a>Our Products</a>
                        <img [class.rotate]="isProductUsOpen" class="chevron-img ms-4" src="assets/icons/down-arrow.svg"
                            alt="">
                    </div>
                    <ul *ngIf="isProductUsOpen" class="dropdown">
                        <li *ngFor="let data of productData">
                            <a [routerLink]="['/products', data?.productUrlId || '']"
                                (click)="sidenavService.closeResponsive()">{{ data?.title || 'Unnamed' }}
                                <p class="mb-0"> {{ data?.headerDescription }}</p>
                            </a>
                        </li>
                    </ul>
                </li>



                <li class="menu-item">
                    <div class="flexes" (click)="toggleFacilitiesDropdown()">
                        <a>Facilities</a>
                        <img [class.rotate]="isFacilitiesUsOpen" class="chevron-img ms-4"
                            src="assets/icons/down-arrow.svg" alt="">
                    </div>
                    <ul *ngIf="isFacilitiesUsOpen" class="dropdown">
                        <li *ngFor="let data of facilityCategoryData">
                            <a [routerLink]="['/facilities', data?.url || '']"
                                (click)="sidenavService.closeResponsive()">{{ data?.title || 'Unnamed' }}
                            <p class="mb-0"> {{ data?.headerDescription }}</p>
                        </a>
                        </li>
                    </ul>
                </li>



                <li class="menu-item">
                    <div class="flexes" (click)="toggleBuyDropdown()">
                        <a>Buy</a>
                        <img [class.rotate]="isBuyUsOpen" class="chevron-img ms-4" src="assets/icons/down-arrow.svg"
                            alt="">
                    </div>
                    <ul *ngIf="isBuyUsOpen" class="dropdown">
                        <li>
                            <a routerLink="/buy" (click)="sidenavService.closeResponsive()">
                                <p class="mb-1"> <strong>Buy TMT</strong></p>
                                <p class="mb-0"> Premium TMT bars, strong, reliable</p>
                            </a>
                        </li>
                    </ul>
                </li>



                <li class="menu-item">
                    <div class="flexes" (click)="toggleRegistrationDropdown()">
                        <a>Registration</a>
                        <img [class.rotate]="isRegistrationUsOpen" class="chevron-img ms-4"
                            src="assets/icons/down-arrow.svg" alt="">
                    </div>
                    <ul *ngIf="isRegistrationUsOpen" class="dropdown">
                        <li *ngFor="let data of registrationData">
                            <a [routerLink]="['/registration', data?.url || '']"
                                (click)="sidenavService.closeResponsive()">{{ data?.title || 'Unnamed' }}
                            <p class="mb-0"> {{ data?.description }}</p>
                        </a>
                        </li>
                    </ul>
                </li>

                <li class="menu-item">
                    <a (click)="sidenavService.closeResponsive(); goToNewsCenter()" routerLink="/">News Center</a>
                </li>
                <li class="menu-item">
                    <a (click)="sidenavService.closeResponsive()" routerLink="./contact">Contact Us</a>
                </li>
            </ul>
        </nav>
    </header>
</section>