section {
    width: 100%;
    height: 100vh;
    overflow-y: scroll;

}

.active {
    color: #FFFFFF !important;
}


nav ul li a {
    color: #FFFFFF;
    font-size: 14px;
    line-height: 30px;
    margin: 0 0 0 10px;
    text-decoration: none;
    font-weight: 600;
}


.contentimg {
    margin: 4% 0 0 0;
}

.products {
    display: flex;
}


.arrow {
    color: #FFFFFF !important;
    font-size: 24px;
    margin: 6% 0 0 0;
}

div {

    padding: 0px;
    width: 100%;
}

.fa {
    color: #B9C2E3;
}

.logo_img {
    margin-top: 5px
}

nav ul li {
    list-style: none;
}


nav ul {
    padding-left: 0 !important;
}



@media (max-width: 991px) {
    nav {
        margin: 0;
        // height: 1500px;
        // overflow-y: auto;
    }

    .logo {
        width: auto;
        height: 50px;
        background-color: #FFFFFF;
        border-radius: 10px;
    }

    .cross {
        width: auto;
        padding: 20px;
    }

    nav ul li {
        margin: 15px 0 !important;
        padding: 0 15px !important;
    }

    .navheader {
        width: 100vw;
        margin: 0 auto;
        display: flex;
        justify-content: space-between;
        align-items: center;
        background-color: #FFFFFF;
        border-radius: inherit;
        padding: 5px 10px;
    }

    .prod_header {
        background-color: #E7E5E5 !important;
        border: none !important;
        display: flex;
        flex-direction: row;
        align-items: center;
        padding: 0 0 !important;

        transition: height 225ms cubic-bezier(0.4, 0, 0.2, 1);
    }

    .sidenav {
        border: none !important;
        box-shadow: none !important
    }

    .panel {
        background: transparent !important;
        box-shadow: none !important;
    }
}


::ng-deep span.mat-expansion-indicator {
    position: relative !important;
    left: -10px !important;
}

p {
    margin-bottom: 0 !important;
    padding: 0 10px;
    color: white;
    font-size: 14px;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.menu-item {
    position: relative;
    padding: 10px 0;
}

.menu-item a {
    text-decoration: none;
    color: #000;
    display: flex;
    align-items: center;
}

.chevron-img {
    transition: transform 0.3s ease;
    height: 12px;
}

.chevron-img.rotate {
    transform: rotate(180deg);
}

.dropdown {
    list-style-type: none;
    margin: 0;
    padding: 5px 0;
    background: rgba(0, 0, 0, 0.35);
}

.dropdown li {
    padding: 10px 0;
}

.dropdown li a {
    text-decoration: none;
    color: #555;
    display: block;
}

.flexes {
    display: flex;
    justify-content: space-between;
    align-items: center;
}