h2 {
    font-weight: 900;
    background-image: linear-gradient(to right, #1f579f, #f0312d 90%);
    color: transparent;
    background-clip: text;
    font-size: 40px;
    text-transform: uppercase;
}

.content {
    padding: 15px;
}

img {
    height: 200px;
}

span {
    color: var(--ts-primary-color);
    font-size: 12px;
}

h6 {
    font-size: 16px;
}

p {
    color: #667085;
    font-size: 13.5px;
}

button {
    font-size: 13px;
    padding: 2px 8px;
    border-radius: 16px;
    border: none;
    margin: 3px;
}

.btn-0 {
    color: var(--ts-accent-color2);
    background-color: #f0f9ff;
}

.btn-1 {
    color: #3538cd;
    background-color: #eef4ff;
}

.btn-2 {
    color: #c4320a;
    background-color: #fff6ed;
}

.button {
    padding: 8px 30px;
    font-size: 16px;
    border-radius: 30px;
}

@media (max-width: 767px){
    img{
        height: auto;
    }
}