.banner-container{
    min-height: 400px;
    background-color: var(--ts-primary-color);
    color: var(--ts-accent-color1);
}
.content{
    display: flex;
    justify-content: center;
}
.product-img{
    max-width: 400px;
}