.safehtml {
    border: 1px solid #74C7FF;
    background: #F4FBFF;
    border-radius: 20px;
    padding: 3%;
}

.banner-container img {
    width: 100%;
}

@media (max-width: 767px) {
    .safehtml {
        overflow-x: auto;
    }
}