<div class="main-container" *ngIf="manufactureBannerData">
    <img class="img-fluid" [src]="manufactureBannerData[0]?.imageUrl" alt="mission">
</div>
<div class="manufacture-container py-5">
    <div class="container">
        <div class="row">
            <h2 class="text-center">Manufacturing Process</h2>
            <div class="col-xl-9 col-lg-9 col-sm-12 col-md-8 text-center">
                <img src="" alt="">
                <h5>Sponge Iron Manufacturing</h5>
                <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Labore optio doloremque eos modi esse ducimus? Laboriosam nam consequuntur cum ducimus.</p>
            </div>
            <div class="col-xl-3 col-lg-3 col-sm-12 col-md-4">
                <h4>Why Turbosteel</h4>
                <div>
                    <img class="img-fluid" src="" alt="">
                    <p>title</p>
                </div>
            </div>
        </div>
    </div>
</div>