<div id="sidebar">
    <div class="social youtube">
        <a href="tel:7625000111">
            <p style="font-weight:bold;">+917625000111 <img class="img-fluid phoneIcon" src="assets/icons/white-phone-logo.svg"/></p>
        </a>
    </div>
    <div class="social linkedin">
        <a href="mailto:sales@turbosteel.in">
            <p style="font-size:13px !important;font-weight:bold;">sales@turbosteel.in <img class="img-fluid icons" src="assets/icons/mail.svg"/></p>
        </a>
    </div>
</div>