#sidebar a {
    text-decoration: none;
    vertical-align: middle;
    text-align: center;
    line-height: 3;
}

#sidebar p {
    color: white;
    position: relative;
    left: 10px;
    margin: 0 !important;
}

#sidebar {
    height: 250px;
    width: 10px;
    position: fixed;
    text-align: center;
    padding: 10px;
    margin-left: 10px;
    top: 25%;
    z-index: 9999999999;
}

p i {
    left: 45px;
    position: relative;
    vertical-align: middle;
    text-align: center;
    font-size: 20px;

}

.social {
    margin-left: -200px;
    width: 230px;
    padding: 0;
    display: inline-table;
    height: 0px;
    background-color: rgba(128, 128, 128, 0.73);
    -moz-transition-property: margin-left;
    -moz-transition-duration: 0.2s;
    -moz-transition-delay: 0.2s;
    -ms-transition-property: margin-left;
    -ms-transition-duration: 0.2s;
    -ms-transition-delay: 0.2s;
    -o-transition-property: margin-left;
    -o-transition-duration: 0.2s;
    -o-transition-delay: 0.2s;
    -webkit-transition-property: margin-left;
    -webkit-transition-duration: 0.2s;
    -webkit-transition-delay: 0.2s;
    box-shadow: 0px 0px 6px 0px #3E3D3D;
    cursor: pointer;
}

.social:hover {
    margin-left: -30px;
    width: 230px;
    background-color: #3b5998;
}

.youtube p img {
    left: 20px;
}

.linkedin p img {
    left: 12px;
}

.icons {
    position: relative;
    width: 30px;
}


.phoneIcon {
    position: relative;
    width: 20px !important;
}

@media (max-width: 600px) {
    #sidebar {
        display: none !important;
    }
}