<div class="main-container mb-3" *ngIf="aboutData">
    <div class="container">
        <div class="row">
            <div class="content">
                <div class="content-flex" *ngFor="let item of aboutData; let i=index;">
                    <div>
                        <h1>{{item.title}}</h1>
                        <p>{{item.description}}</p>
                    </div>
                    <div class="line" *ngIf="i < aboutData.length - 1"></div>
                </div>
            </div>
        </div>
    </div>
</div>