header {
    padding-right: 35px;

}

.main-nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
}

ul {
    display: flex;
    margin-bottom: 0;
    list-style: none;
    padding: 0;
}

li {
    padding: 21px 25px;
    font-weight: 500;
    cursor: pointer;
}

li a {
    text-decoration: none;
    color: black;
}

li:hover .chevron-img {
    transform: rotate(180deg);
}

.chevron-img {
    height: 10px;
    transition: transform .3 ease-in-out;
}

.dropdown {
    display: none;
    position: absolute;
    top: 65px;
    left: 0;
    width: max-content;
    background-color: rgba(141, 153, 174, 0.9);
    padding: 10px 18px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    z-index: 10;
}

.dropdown a {
    display: block;
    padding: 8px 0;
    color: white;
    text-decoration: none;
    font-weight: 500;
}

.dropdown a:hover {
    color: var(--erm-secondary-color-shade2);
}

li:hover .dropdown {
    display: block;
}

.social-icons img {
    cursor: pointer;
}


.menu {
    display: none;
}

.res {
    display: none;
}

.web-logo {
    height: 80px;
}

button {
    background: none;
    border: 1.5px solid var(--ts-accent-color2);
    border-radius: 30px;
    padding: 6px 22px;
    font-weight: 600;
}

@media (max-width: 991px) {
    .main-nav {
        display: none;
    }

    .res {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 5px 0;

        .logo {
            height: 50px;
        }
    }

    .menu {
        display: flex;
        justify-content: center;
        align-items: center;

        img {
            width: 20px;
        }
    }
}