header {
    padding-right: 35px;

}

.main-nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
}

ul {
    display: flex;
    margin-bottom: 0;
    list-style: none;
    padding: 0;
}

li {
    padding: 28px 16px;
    font-weight: 500;
    cursor: pointer;
    font-size: 14px;
    text-transform: uppercase;
}

li:hover .dropdown-trigger {
    background-color: var(--ts-primary-color);
    color: var(--ts-accent-color1);
}

li a {
    text-decoration: none;
    color: var(--ts-accent-color2);
    font-size: 13px;
    font-weight: 600;
    max-width: 280px;
}

li a:hover {
    background-color: var(--ts-primary-color);
    color: var(--ts-accent-color1) !important;
}

li:hover .chevron-img {
    transform: rotate(180deg);
}

.chevron-img {
    height: 10px;
    transition: transform .3 ease-in-out;
}

.dropdown {
    display: none;
    position: fixed;
    top: 80px;
    left: 0;
    right: 0;
    border-top: 1px solid rgba(60, 100, 168, 0.9);
    background-color: var(--ts-accent-color1);
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    padding: 15px 0;
    z-index: 10;
}

.dropdown-container {
    padding: 0 50px;
    display: flex;
    justify-content: center;

    p {
        font-size: 14px;
        text-transform: none;
    }
}

.dropdown-item {
    white-space: normal;
}

.dropdown a {
    display: block;
    text-decoration: none;
    font-weight: 500;
    padding: 6px;
    background-color: transparent;
    transition: color 0.3s ease;
}

.dropdown a:hover {
    color: var(--erm-secondary-color-shade2);
}

li:hover .dropdown {
    display: block;
}

.social-icons img {
    cursor: pointer;
}


.menu {
    display: none;
}

.res {
    display: none;
}

.web-logo {
    height: 80px;
}

button {
    background: none;
    border: 1.5px solid var(--ts-accent-color2);
    border-radius: 30px;
    padding: 6px 22px;
    font-weight: 600;
}

button:hover {
    color: var(--ts-accent-color1);
    background-color: #E7342F;
    border: var(--ts-accent-color1);
}

@media (max-width: 991px) {
    .main-nav {
        display: none;
    }

    .res {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 5px 0;

        .logo {
            height: 50px;
        }
    }

    .menu {
        display: flex;
        justify-content: center;
        align-items: center;

        img {
            width: 20px;
        }
    }
}