<div class="product-container py-5" *ngIf="productData">
    <div class="container">
        <div class="row">
            <h2 class="text-center">Our Products Options</h2>
            <div class="content">
                <div class="d-flex flex-column justify-content-between" *ngFor="let item of productData">
                    <div>
                        <h4><strong>{{item.title}}</strong></h4>
                        <p>{{item.description}}</p>
                    </div>
                    <a href="{{item.url}}"> <button class="button"><strong>READ MORE</strong></button></a>
                </div>
            </div>
        </div>
    </div>
</div>