<div class="manufacture-container py-5">
    <div class="container">
        <div class="row">
            <h2 class="text-center mb-4">Technology and Manufacturing Process</h2>
            <div class="col-xl-3 col-lg-3 col-sm-12 col-md-4 my-2" *ngFor="let item of technologyData">
                <div class="content ">
                    <img class="img-fluid" [src]="item.imageUrl" alt="">
                    <div>
                        <h6 class="py-3"><strong>{{item.title | uppercase}}</strong></h6>
                        <p>{{item.description}}</p>
                    </div>
                    <div class="text-center">
                       <a href="{{item.url}}"> <button class="button">Read More</button></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>